@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 

nav{
	position: fixed;
  display: flex;
  height: 80px;
  width: 100%;
  background: #0df18f;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
.line{
	width: 3px;
	background-color: #E5E4E2;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 550;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li a .fas{
	margin-right:2px;
}
nav ul li{
  margin: 0 2px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 25px;
  transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover{
  color: #fff;
  background: #282A35;  /* #282A35*/
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
.container{
	width: 90%;
	height: auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 7rem;
	padding: 0 2rem;
}
.photo{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.photo img{
	margin-top: 100px;
	width: 500px;
}



@media (max-width: 1100px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 1060px) {
  nav .menu-btn i{
    display: block;
  }
 .user{
 	border-top: 3px solid #E5E4E2;
 }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav{
  	position: fixed;
  }
  nav ul{
    position: fixed;
    top: 80px;
    right: -100%;
    background: #0df18f;
    height: 90vh;
    width: 45%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    right: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-right: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-right: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: #282A35;
  }
}
